@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

body{
  font-family: 'Mulish', sans-serif;
  background: rgb(112, 65, 23);
}

h2 {
  color: rgb(8, 7, 7);
  text-decoration: underline;
}

button{
  font-family: 'Mulish', sans-serif;
  background: rgb(32, 31, 31);
  color: white;
  font-size: 120%;
}